<div class="page-header">
  <h1>
    <%= @detalhamento.descricao %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_detalhamento_path(@detalhamento), class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <td class="col-md-2">Descrição</td> <td><%= @detalhamento.descricao %></td>
    </tr>
    <tr>
      <td>Data do cadastro</td> <td><%= l @detalhamento.created_at %></td>
    </tr>
  </table>
</div>
